%h3.letterpress Liste des oeufs

- @ideas.each do |idea|
  = render :partial => '/shared/idea', :object => idea

%br
.apple_pagination
  = will_paginate @ideas, { :previous_label => 'Avant', :next_label => 'Après'}
%br
= link_to 'Nouvel oeuf', new_idea_path
