%p Nom de la nouvelle chrysalide
#search_results
  = form_tag transform_to_chrysali_caterpillars_path, :method => :post, :remote => true do
    = hidden_field_tag( "transform_id", "")
    = text_field_tag :name
    %ul
    = submit_tag "Réaliser la mutation", :class => "small success radius button"



