%h3.letterpress Dendogramme de la métamorphose

= content_tag :div, "", id: "dendogram", data: {hits: dendogram()}

#chart.radius.panel


:javascript

    var network = $('#dendogram').attr('data-hits');
    var graph = JSON.parse(network);
    var nodes = graph.nodes;
    var links = graph.links;

    var width = 960,
    height = 460;

    var cluster = d3.layout.cluster()
        .size([height, width - 160]);

    var diagonal = d3.svg.diagonal()
        .projection(function(d) { return [d.y, d.x]; });

    var nodes = cluster.nodes(graph),
          links = cluster.links(nodes);

    console.log(nodes);
    console.log(links);

    var svg = d3.select("#chart").append("svg")
        .attr("width", width)
        .attr("height", height)
      .append("g")
        .attr("transform", "translate(40,0)");


      var link = svg.selectAll(".link")
          .data(links)
        .enter().append("path")
          .attr("class", "link")
          .attr("d", diagonal);

      var node = svg.selectAll(".node")
          .data(nodes)
        .enter().append("g")
          .attr("class", "node")
          .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; })

      node.append("circle")
          .attr("r", 4.5);

      node.append("text")
          .attr("dx", function(d) { return d.children ? -8 : 8; })
          .attr("dy", 3)
          .style("text-anchor", function(d) { return d.children ? "end" : "start"; })
          .text(function(d) { return d.name; });


    d3.select(self.frameElement).style("height", height + "px");
