.panel.idea
  position: relative
  margin: 4px
  &.element
    width: 190px
    height: 200px
  h5
    font-size: 1.0em


  .title
    text-indent: 0px
    padding-top: 4px
  .space
    height: 70px
  .object_state
    position: absolute
    top: 4px
    left: 8px
  .comments
    position: absolute
    bottom: 4px
    left: 4px
    font-size: 1em
    color: grey
  .like_button
    position: absolute
    top: 4px
    right: 4px
    font-size: 2em
    color: grey
    .count
      .like
    a
      color: grey
      &.like
        color: orange
  .new_comment
    margin-top: 20px
#comments
  display: none



