%footer.row
  .twelve.columns
    %br
    .row
      .six.columns
        %p.letterpress &copy; Copyright Ecdys consulting.

      .six.columns
        %ul.link-list.right
          %li= link_to "Home", root_path
