<!-- Footer -->

%footer.row
.twelve.columns
    .row
        .four.columns
            %p &copy; Copyright Spot A Partner.</p>
        .eight.columns
            %ul.link-list.right
                %li= link_to "à propos", "#"
                %li= link_to "Mentions légales", "#"
                %li= link_to "CGU", "#"
                %li= link_to "FAQ", "#"

<!-- End Footer -->

